<h1>{{transport.name}} Details</h1>

<div class="transport-details">
  <img src="{{transport.image}}" alt="{{transport.name}}">
  <p><strong>Description:</strong> {{transport.description}}</p>
  <p><strong>Availability:</strong> {{transport.availability}}</p>
  <p><strong>Price:</strong> ${{transport.price}}</p>
  <a href="/" class="back-button">Back to Home</a>
</div>